@{
    ViewData["Title"] = "Proiect- Licenta";
}

<div class="row">
    <div class="col-md-6">
        <h2>Proiect- Licenta</h2>
        <ul>
            <li><a href="/swagger" target="_blank">API Documentation (Swagger)</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>About</h2>
        <ul>
        </ul>
    </div>
</div>
